html {
    font-size: 20px;
    line-height: 150%;
}
body { 
    background: #fff; 
    color: #222; 
    font-family: "Hoefler Text", "Georgia", "Times New Roman", Times, serif; 
    margin: 0 auto;
    max-width: 900px;
}
header {
    background-color: #183f63;
    color: #ffe600;
    font-size: larger;
    letter-spacing: 3px;
    margin: 40px 0;
    padding: 60px;
    text-align: center;
    text-transform: uppercase;
}
footer {
    border-top: 1px #183f63 solid;
    margin: 40px 0;
    padding-top: 20p;
    text-align: right;
}