<!doctype html>
<html class="no-js" lang="de">
    <head>
        <meta charset="utf-8">
        <title>Easto static-site generator</title>
        <meta name="description" content="Easto static-site generator">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles.css"/>
    </head>
    <body>
        <header>
            <h1>This is easto!</h1>
        </header>
        <main>
            {{ CONTENT_BODY }}
        </main>
        <footer>
            The easto static-site generator was made by <a href="https://www.thomaspuppe.de">Thomas Puppe</a> and is available on <a href="https://github.com/thomaspuppe/easto">GitHub</a>.
        </footer>
    </body>
</html>
